table{
    width: 1300;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
}

table th, td{
    border: solid 3px rgb(254, 179, 55); /*柑子色*/
    /*rgb(255, 217, 92)*/
}

table th{
    padding: 10px;
    color: black;
    background: rgb(255, 217, 60); /*黄くちなし色*/
}

table td{
    font-size: 95%;
    padding: 3px 10px;
    color: rgb(51, 51, 51);
    background: rgb(254, 237, 189); /*鳥の子色*/
}

table tr:nth-child(odd) td {
	background: rgb(255, 242, 217);
}

.pagination-center{
    text-align: center;
}

.pagination li{
    display: inline-block;
    position: relative;
    display: inline-block;
    margin: 10px 0;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: rgb(255, 120, 0);
    color: rgb(254, 18, 13);
    border-radius: 5px 5px 5px 5px;
    transition: .4s;
}

.pagination li:hover{
    background: rgb(253, 65, 37);
}

.pagination li a{
    text-decoration: none;
    color: rgb(66, 147, 195);
}

